*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  
}
body{
  background-color: #0d151c;
  color: white;
}

.App {
  background-color: #6ab5fa;
  text-align: center;
}

.main-heading{
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: center;
}

table{
  width: auto;
}

@media (max-width:415px){
  #flag{
    margin-bottom:1em
  }
}

